In [3]:
import numpy as np
import pandas as pd
from scipy.stats import wilcoxon, friedmanchisquare, mannwhitneyu, chi2_contingency , kruskal

In [4]:
df = pd.read_csv('general_data.csv')
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,No,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,No,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,No,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,No,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,No,Non-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,No,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,No,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,No,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,No,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,No,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,Male,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,No,Travel_Frequently,Research & Development,16,4,Medical,1,25,Male,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,No,Travel_Rarely,Research & Development,1,4,Other,1,26,Female,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,No,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,Female,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,No,Travel_Rarely,Sales,5,1,Marketing,1,28,Male,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,No,Travel_Rarely,Sales,2,3,Marketing,1,30,Female,...,9.0,Y,12,8,0,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,35,No,Travel_Frequently,Research & Development,19,3,Life Sciences,1,4381,Female,...,1.0,Y,13,8,0,10.0,6,10,0,8
4381,29,Yes,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4382,52,No,Travel_Rarely,Research & Development,1,2,Medical,1,4383,Female,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,No,Travel_Rarely,Research & Development,7,4,Life Sciences,1,4384,Female,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,No,Travel_Rarely,Research & Development,4,4,Technical Degree,1,4385,Male,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,No,Travel_Rarely,Research & Development,11,2,Life Sciences,1,4386,Male,...,3.0,Y,23,8,1,32.0,2,7,0,6
4386,33,Yes,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4387,43,No,Travel_Rarely,Sales,1,3,Marketing,1,4388,Female,...,5.0,Y,24,8,0,22.0,3,17,1,9
4388,33,Yes,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4389,52,No,Non-Travel,Research & Development,2,3,Technical Degree,1,4390,Male,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,No,Travel_Rarely,Human Resources,13,4,Life Sciences,1,4391,Female,...,2.0,Y,16,8,1,6.0,2,4,1,2
4391,32,Yes,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4392,39,No,Travel_Rarely,Sales,26,4,Life Sciences,1,4393,Male,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,No,Non-Travel,Sales,2,4,Marketing,1,4394,Male,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,No,Travel_Rarely,Sales,29,3,Life Sciences,1,4395,Female,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,No,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4396,Male,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,No,Travel_Rarely,Research & Development,18,1,Life Sciences,1,4397,Female,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,No,Travel_Frequently,Research & Development,7,4,Medical,1,4398,Male,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,No,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4399,Female,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,No,Travel_Rarely,Research & Development,26,3,Other,1,4400,Female,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,No,Travel_Rarely,Research & Development,22,5,Medical,1,4401,Female,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,No,Travel_Frequently,Sales,21,1,Marketing,1,4402,Male,...,4.0,Y,13,8,0,9.0,3,3,0,2
4402,37,Yes,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0
4403,39,No,Travel_Frequently,Research & Development,22,3,Medical,1,4404,Female,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [5]:
df.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.006963,-0.035706,NaN,0.008649,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
DistanceFromHome,0.006963,1.000000,-0.008638,NaN,-0.001097,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.008638,1.000000,NaN,-0.009680,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.001097,-0.009680,NaN,1.000000,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
JobLevel,-0.002884,-0.037329,0.045746,NaN,-0.003303,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.021607,0.006410,NaN,0.007338,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,-0.013843,-0.016250,NaN,-0.001117,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.038125,-0.040531,NaN,-0.004456,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,0.011169,0.001261,NaN,-0.014254,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,0.009374,-0.010717,NaN,-0.001063,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.009001,0.010472,NaN,-0.010191,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,0.031684,0.006080,NaN,0.004086,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,0.002290,0.022490,NaN,0.000256,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,0.021584,0.005358,NaN,0.008579,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['Attrition'] = encoder.fit_transform(df['Attrition'])

* We can use chi-square test to check dependace between two categorical value
* H0 : There is no dependancy between Attrition and BusinessTravel
* H1 : There is dependancy between Attrition and BusinessTravel

In [9]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [14]:
chitable = pd.crosstab(df['Attrition'] , df['BusinessTravel'])
chitable

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
0                      414                624           2661
1                       36                207            468

In [16]:
stat, p, dof, expected = chi2_contingency(chitable)
if p < 0.5 :
    print('There is dependancy between Attrition and BusinessTravel')
else :
    print('There is no dependancy between Attrition and BusinessTravel')

There is dependancy between Attrition and BusinessTravel

In [17]:
chitable = pd.crosstab(df['Attrition'] , df['Department'])
chitable

Department  Human Resources  Research & Development  Sales
Attrition
0                       132                    2430   1137
1                        57                     453    201

In [18]:
stat, p, dof, expected = chi2_contingency(chitable)
if p < 0.5 :
    print('There is dependancy between Attrition and Department')
else :
    print('There is no dependancy between Attrition and Department')

There is dependancy between Attrition and Department